*{
    padding: 0;
    margin: 0;
    background: var(--primarybg);
}

:root{
    --primarybg: rgb(250, 252, 255);
    --aesthetic: #b35f12;
    --aesthetichover: #d7b28f;
    --aestheticlight: #e7d8ca;
    --secondary: rgb(57, 87, 187);
    --secondarybg: #ededed;
}

.main{
    width: 100%;
    height: 95vh;
    margin-top: 20px;
    background: var(--primarybg);
}

.LogoText{
    text-decoration: none;
    font-size: 35px;
    margin-left: 90px;
    display: flex;
    color: var(--secondary);
}

.LogoText span{
    color: var(--aesthetic);
}

nav{
    display: flex;
    justify-content: space-between;
}

nav .logo img{
   height: 60px;
   display: flex;
   color: var(--aesthetic);
}

nav ul{
    display: flex;
}

nav ul li a, .dropdown li .dropbtn{
    color: var(--aesthetic);
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown a {
    font-size: 16px;
    border: none;
    outline: none;
    color:var(--aesthetic);
    padding: 14px 16px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, nav ul li a:hover {
    color: white;
    background-color: var(--aesthetic);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .container{
    margin-top: 2px;
  }

 .container h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 40px;
    margin-top:20px;
    color: black;
 }

 .container .left .one div img{
  width: 60px;
  margin-left: 60px;
  margin-top: 180px;
}

 .container .left .one h4{
  margin-top: -60px;
  margin-left: 120px;
  color: var(--aesthetic);
}

.container .left .one h3{
  margin-left: 130px;
}

.container .left .two div img{
  width: 60px;
  margin-left: 330px;
  margin-top: -60px;
}

.container .left .two h4{
  margin-left: 390px;
  margin-top: -70px;
  color: var(--aesthetic);
}

.container .left .two h3{
  margin-left: 390px;
}

.container .left .three div img{
  width: 50px;
  margin-left: 60px;
  margin-top: 90px;
}

.container .left .three h4{
  margin-left: 120px;
  margin-top: -50px;
  color: var(--aesthetic);
}

.container .left .three h3{
  margin-left: 130px;
}

.container .left .four div img{
  width: 60px;
  margin-left: 330px;
  margin-top: -2000px;
}

.container .left .four h3{
  margin-left: 380px;
  margin-top: -70px;
  color: var(--aesthetic);
}

.container .left .four h4{
  margin-left: 390px;
}

.container .middle img{
    margin-left: 520px;
    margin-top: -350px;
}

.container .right .right-one h2{
  margin-left: 1090px;
  margin-top: -400px;
  font-style: oblique;
  font-size: 28px;
  color: var(--secondary);
}

.container .right .right-one h1{
  margin-left: 1000px;
  margin-top: 5px;
  color: var(--aesthetic)
}

.container .right .right-two h3{
  margin-left: 1100px;
  margin-top: 170px;
  font-size: 30px;
}

.container .right .right-two h2{
  font-size: 38px;
  margin-left: 1100px;
  color: var(--aesthetic);
}


.container .lastcolumn span{
  color: var(--secondary);
  font-style: oblique;
}

.container .lastcolumn{
  text-align: center;
  color: black;
  margin-top: 140px;
  margin-bottom: 100px;
  font-size: 30px;
}

.container .lastcolumn:after{
  content:"";
  display:block;
  width: 900px;
  max-width:200%;
  margin: 8px auto 0;
  border-bottom: 0.3em solid var(--aesthetic);
}

 .bike-menu{
  height: 750px;
  margin-bottom: 60px;
  background-color: var(--secondarybg);
}

 .bike-menu h1 span{
  color: var(--aesthetic);
}

 .bike-menu h1{
  color: var(--secondary);
  text-align: center;
}

.model1, .model2, .model3, .model4, .model5, .model6{
  display: inline-block;
}

.bike-menu .model1 div, .bike-menu .model2 div, .bike-menu .model3 div,
.bike-menu .model5 div, .bike-menu .model6 div,.bike-menu .model4 div {
  background-color: var(--secondarybg);
}

.bike-menu .model1 div img, .bike-menu .model2 div img, .bike-menu .model3 div img,
.bike-menu .model5 div img{
  width: 380px;
  background-color: var(--secondarybg);
}

.bike-menu .model4 div img, .bike-menu .model5 div img, .bike-menu .model6 div img,
.bike-menu .model1 div img, .bike-menu .model2 div img, .bike-menu .model3 div img{
  height: 270px;
}

.bike-menu .model2 .btn-4, .bike-menu .model6 .btn-12, .bike-menu .model5 .btn-10, 
.bike-menu .model3 .btn-6, .bike-menu .model4 .btn-8, .bike-menu .model1 .btn-2{
margin-left: 10px;
}

.bike-menu .model1 div img{
  margin-left: 90px;
}

.bike-menu .model1 .btn-1{
     margin-left: 160px;
}

.bike-menu .model2 div img{
  margin-left: 80px;
}

.bike-menu .model2 .btn-3{
  margin-left: 180px;
}

.bike-menu .model3 div img{
  margin-left: 70px;
}

.bike-menu .model3 .btn-5{
  margin-left: 150px;
}

.bike-menu .model4 div img{
  width: 450px;
  margin-top: 15px;
  margin-left: 70px;
  background-color: var(--secondarybg);
}

.bike-menu .model4 .btn-7{
  margin-left: 190px;
}

.bike-menu .model5 div img{
  margin-left: 45px;
}

.bike-menu .model5 .btn-9{
  margin-left: 100px;
}

.bike-menu .model6 div img{
  width: 380px;
  margin-left: 45px;
  background-color: var(--secondarybg);
}

.bike-menu .model6 .btn-11{
  margin-left: 140px;
}

.bike-menu button{
  width: 120px;
  height: 30px;
  font-size: 16px;
}

.bike-menu .model-btn{
  background-color: var(--secondarybg);
}


.bike-menu .btn1{
    color: black;
    background-color: #f9f9f9;
}

.bike-menu .btn2{
  color: white;
  background-color: var(--aesthetic);
}

.bike-menu .btn1:hover{
  color: white;
  background-color: var(--secondary);
}

.bike-menu .btn2:hover{
  color: var(--aesthetic);
  background-color: white;
}

.features .feature-heading {
  text-align: center;
  margin-top: 30px;
  font-size: 25px;
}

.features .feature-heading h1 span{
   color: var(--aesthetic);
} 

.features{
  height: 630px;
}

.section1, .section2, .section3, .section4{
  display: inline-block;
}

.features .section1 div img{
  width: 240px;
  margin-top: 80px;
  margin-left: 140px;
}

.features .section1 div h3{
  margin-top: 20px;
  margin-left: 140px;
}

.features .section1 div h2, .features .section2 div h2{
  margin-left: 155px;
}

.features .section2 div img{
  width: 420px;
  margin-left: 20px;
}

.features .section2 div h3{
  margin-top: 20px;
  margin-left: 120px;
}

.features .section3 div img{
  width: 350px;
  margin-left: -50px;
}

.features .section3 div h3{
  margin-top: 20px;
  margin-left: 7px;
}

.features .section3 div h2{
  margin-left: 30px;
}

.features .section4 div img{
  margin-left: 50px;
  width: 200px;
}

.features .section4 div h3{
  margin-top: 20px;
  margin-left: 60px;
}

.features .section4 div h2{
  margin-left: 80px;
}

.features .section4 div h3 span{
  margin-left: 70px;
} 

.features .section1 div h2, .features .section2 div h2, .features .section3 div h2,
.features .section4 div h2{
  color: var(--secondary);
}

.features .section1 div h3, .features .section2 div h3, .features .section3 div h3,
.features .section4 div h3{
  color: var(--aesthetic);
}

.experience{
  height: 690px;
  background-color: var(--secondarybg);
}

.experience .experience-heading h1{
  text-align: center;
  color: black;
  font-size: 40px;
  background-color: var(--secondarybg);
}

.experience .experience-heading h1 span{
  margin-top: 50px;
  color: var(--secondary);
  background-color: var(--secondarybg);
}

 .experience .card-wrap{
  display: grid;
  margin-left: 140px;
  grid-template-columns: 400px 400px 400px;
  background-color: var(--secondarybg);
}

.experience .card-wrap .card{
  height: 400px;
  margin-left: 50px;
  background:var(--aestheticlight); 
  padding-top:19px;
  text-align: center;
  margin-top: 100px;
}

.experience .card-wrap .card p, .experience .card-wrap .card img,
 .experience .card-wrap h3, .experience .card-wrap div a,
 .experience .card-wrap .card div{
  background-color: var(--aestheticlight);
}

.experience .card-wrap .card .comma-logo{
  width: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.experience .card-wrap .card p{
  text-align: center;
  font-size: 25px;
  margin-left: 35px;
  margin-right: 30px;
}

.experience .card-wrap .card h3{
  color: var(--aesthetic);
  margin-top: 30px;
  font-size: 20px;
}

.experience .card-wrap .card .review-logo{
  width: 35px;
  margin-top: 10px;
}


.experience .card-wrap .card a{
  font-size: 15px;
  margin-left: -5px;
  color: black;
  text-decoration: none;
}

.experience .card-wrap .card a:hover{
   color: var(--secondary);
   font-size: 20px;
}

.contact-us{
  height: 630px;
  background-color: var(--primarybg);
}

.contact-us h1{
  text-align: center;
  margin-bottom: 50px;
}

.contact-us h1 span{
  color: var(--secondary);
}

.address:before, .bank-details:before, .models:before,
.company:before, .blogs:before{
  content: "";
  width: 280px;
  border-bottom: 6px solid var(--aesthetic);
}

.address:before, .bank-details:before{
  display:inline-block;
  margin-left: 120px;
}

.address-one,.address-two{
  height:160px;
  width: 280px;
  margin-left: 120px;
  margin-right: 10px;
}

.address-two{
  margin-top: -50px;
} 

.address-one h5, .address-two h5,  .bank-1 h5, .bank-2 h5,
.models h5{
  margin-top: 5px;
  color: rgb(79, 79, 79);
}

.bank-2 h3{
  margin-top: 30px;
}

.bank-1, .bank-2{
  height:160px;
  width: 280px;
  margin-left: 120px;
}

.bank-2{
  margin-top: -80px;
}

.bank-1, .models h3{
  margin-top:10px;
}

.models:before{
  display:flex;
  margin-top: -580px;
}

.models h3, .models h5,.models:before, .company h3, .company::before, .company a{
   margin-left: 570px;
}

.models h5{
  font-size: 18px;
  margin-top: 10px;
}

.company::before{
  margin-top: 65px;
  display: inline-block;
}

.company h3{
  margin-top: 10px;
}

.company a{
  display: flex;
  margin-top: 9px;
  color: var(--secondary);
  text-decoration: none;
  margin-right: 650px;
}

.company a:hover{
  color: var(--aesthetic);
}


.blogs div h3, .blogs div a{
  margin-left: 1060px; 
}

.blogs:before{
  display: flex;
  margin-left: 1060px;
  margin-top: -460px;
}

.blogs h2{
  margin-top: 10px;
  margin-left: 1060px;
}

.blogs h3{
  margin-top: 10px;
  font-size: 19px;
  margin-bottom: 10px;
}

.blogs a{
  color: var(--aesthetic);
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 17px;
}

.blogs a:hover{
  color: var(--secondary);
}